<a href="https://colab.research.google.com/github/ranyasinha/HOUSE-PRICE-PREDICTION-PROJECT/blob/main/Dataset_Generator_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Generating dataset for house price prediction

In [1]:
import pandas as pd
import numpy as np

# Reproducibility
np.random.seed(42)

# Number of rows
n = 500

# Generate features
rooms = np.random.randint(1, 6, n)
area = np.random.randint(500, 3500, n)
bathrooms = np.random.randint(1, 4, n)
age = np.random.randint(1, 30, n)
location = np.random.choice(['Mumbai', 'Bangalore', 'Delhi'], n)

# Base price by location
location_price = {
    'Mumbai': 10000,
    'Bangalore': 8000,
    'Delhi': 7000
}

# Price formula (non-linear + noise)
price = (
    area * np.vectorize(location_price.get)(location) +
    rooms * 200000 +
    bathrooms * 150000 -
    age * 50000 +
    np.random.normal(0, 500000, n)  # noise
)

# Build dataframe
df = pd.DataFrame({
    'Rooms': rooms,
    'Area': area,
    'Bathrooms': bathrooms,
    'Age': age,
    'Location': location,
    'Price': price.astype(int)
})

# Save CSV
df.to_csv("houses.csv", index=False)

print("Dataset generated successfully: houses.csv")
print(df.head())

Dataset generated successfully: houses.csv
   Rooms  Area  Bathrooms  Age Location     Price
0      4  2609          2   10   Mumbai  26914505
1      5  1095          3    2   Mumbai  12034746
2      3  2403          1   27    Delhi  17065845
3      5  1228          1   23   Mumbai  13226518
4      5  1865          1   13    Delhi  13568061

In [2]:
df

     Rooms  Area  Bathrooms  Age   Location     Price
0        4  2609          2   10     Mumbai  26914505
1        5  1095          3    2     Mumbai  12034746
2        3  2403          1   27      Delhi  17065845
3        5  1228          1   23     Mumbai  13226518
4        5  1865          1   13      Delhi  13568061
..     ...   ...        ...  ...        ...       ...
495      1  1872          2   26     Mumbai  17248547
496      3  1372          2   19      Delhi   9263611
497      1  1752          2   23      Delhi  12040856
498      1  2817          3   14  Bangalore  22552068
499      1  2351          3    4      Delhi  17572308

[500 rows x 6 columns]